.aside{
    position:fixed;
    display: flex;
    z-index: 2;

    height: 100vh;
    button{
        border-radius: 0;
        // transition: width 2s 2s;
        padding: 0;
        width: 6vw;
        img{
            width: 100%;
        }
    }
    .menu{
        width: 70vw;
        display: flex;
        justify-content: center;
        // transition: width 2s 2s;
        nav{
            border: none;
            div{
                display: flex;
                flex-flow: column;
                a{
                    text-decoration: none;
                    white-space: break-spaces;
                }
                .active{
                    background-color: rgb(45, 181, 211);
                    border-radius: 5px;
                    padding: 7px 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .aside{
        button{
            width: 10vw;
        }
    }
}