*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100vh;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 501px) {
  .App{
    font-size: 1rem;
  }
}