*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100vh;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  main{
    width: 100vw;
    padding-left: 6vw;
  }
}
@media only screen and (max-width: 600px) {
  .App{
    ain{
      padding-left: 10vw;
    }
  }
}
@media only screen and (max-width: 501px) {
  .App{
    font-size: 1rem;
  }
}